.jumbotron { 
    background-image: url(https://imgix.lifehacker.com.au/content/uploads/sites/4/2020/07/30/opytkwryg3ponsph9dni-scaled.jpg?ar=16:9&auto=format&fit=crop&q=65&w=1280);
    background-position: bottom;
    text-align: left;
}
h1 {
    color: azure;
}
#mars-facts {
    border-spacing: 5px;
    padding: 1em;
    text-align: center;
}
th {
    text-align: center;
}